.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fundContainer {
    display: flex;
    flex-direction: column;
    background: aliceblue;
    padding: 10px;
    margin: 5px;
    width: 100%;
    align-items: center;
}
.fundItem{
    font-size: 20px;
    color: black;
    margin: 5px;
}